<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Internet Explorer Browser">
		<parameter name="browser" value="IE" />
		<parameter name="isAdmin" value="No" />
		<classes>
			<!-- <class name="com.tcs.BsiShopRedesign.sprint1.MyProfile"/> 
			<class name="com.tcs.BsiShopRedesign.sprint1.SCRProductsUpdateBasket" />
			<class name="com.tcs.BsiShopRedesign.sprint1.MyProfileAddTenAddresses" />
			<class name="com.tcs.BsiShopRedesign.sprint2.BookEvent" />
			<class name="com.tcs.BsiShopRedesign.sprint2.MultipleEventUpdateBasket" />
			<class name="com.tcs.BsiShopRedesign.sprint2.StandardProductAndEventRemoveBasket" />
			<class name="com.tcs.BsiShopRedesign.sprint2.EssentialsProductAndEventRemoveBasket" />
			<class name="com.tcs.BsiShopRedesign.sprint2.RegisterSubscriptions" />
			<class name="com.tcs.BsiShopRedesign.sprint2.DownloadMarketingMaterial" />
			<class name="com.tcs.BsiShopRedesign.sprint2.RegisterMUNLCode" />
			<class name="com.tcs.BsiShopRedesign.sprint2.CheckWarningMsgAddtoBasket" />
			<class name="com.tcs.BsiShopRedesign.sprint2.VerifyMemberTab" />
			<class name="com.tcs.BsiShopRedesign.sprint3.CheckSearchCount" />
			<class name="com.tcs.BsiShopRedesign.sprint3.CheckWithdrawnStatus" />
			<class name="com.tcs.BsiShopRedesign.sprint3.SearchSortOrderByProductType" />
			<class name="com.tcs.BsiShopRedesign.sprint3.CheckProductFeatures" />
			<class name="com.tcs.BsiShopRedesign.sprint3.CheckBlankSearchResult" />
			<class name="com.tcs.BsiShopRedesign.sprint3.AddPDFToBasketTwiceFromSearchList" />
			<class name="com.tcs.BsiShopRedesign.sprint3.SearchSortOrderByPublishedDate" />  -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint4_5.RegistrationsWithDiffProfile" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint4_5.VerifyMemberProfile" />
			<class name="com.tcs.BsiShopRedesign.sprint4_5.AddInvoiceToBasketFromMemTab" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint7.UnregisteredUserCheckout" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint7.VerifyMemberDiscount" />
			<class name="com.tcs.BsiShopRedesign.sprint7.EditCheckoutBillingAddress" />	
			<class name="com.tcs.BsiShopRedesign.sprint7.CreateCheckoutBillingAddress" />
			<class name="com.tcs.BsiShopRedesign.sprint8.ApplyMemberAccount" />
			<class name="com.tcs.BsiShopRedesign.sprint8.VerifyMemberDetails" /> 
			<class name="com.tcs.BsiShopRedesign.sprint8.RenewMembership" />
			<class name="com.tcs.BsiShopRedesign.sprint8.SoftCopyDownloads" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint8.VerifyHardCopyDetails" />	
			<class name="com.tcs.BsiShopRedesign.sprint8.ValidateCountryCheckoutDetails" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint8.VerifyPDFPreviewing" />
			<class name="com.tcs.BsiShopRedesign.sprint8.EditOrderDetailsFromCheckout" />
			<class name="com.tcs.BsiShopRedesign.sprint9.PromoCodeOrder" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint9.PayByInvoice" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint9.PreBookProducts" />
			<class name="com.tcs.BsiShopRedesign.sprint9.VerifyContactUs" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint9.SecureAuthenticationPayment" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint9.VerifyDifferentProductType" /> -->
			<!-- <class name="com.tcs.BsiShopRedesign.sprint9.CheckoutDeliveryAddress" /> -->
			<!--  <class name="com.tcs.BsiShopRedesign.sprint9.VerifyRecentlyViewedProducts" /> -->
		</classes>
	  </test>
      <test name="BSI Admin">
		<parameter name="browser" value="IE" />
		<parameter name="isAdmin" value="Yes" />
		<classes>
			<class name="com.tcs.BsiShopRedesign.cms.VerifyCmsDetails" />
			<class name="com.tcs.BsiShopRedesign.cms.ResetPassword" />
	    </classes>
	</test>
</suite> 
